<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <TITLE>Закладки</TITLE>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#myform").submit(function(event) {
                event.preventDefault();
                var request = $("#req").val();
                window.location ='http://localhost:8080/search/' + request;
            });
        });


    </script>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
<style>
</style>
</head>
<body style="background-image:url(/back.jpg)">
<script src="/bootstrap/js/bootstrap.min.js"></script>

<div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">Twiddler</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li><a href="/user/{{ user_id }}">Профиль</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="/plan">Спланировать</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="/bookmarks">Закладки</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
                <form class="navbar-form pull-right" id="myform">
                    <input type="text" class="span2" placeholder="Search" id="req">
                    <!-- button type="submit" class="btn">Найти</button -->
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
	<table class="table table-hover">
        <thead>
            <td>Имя</td>
            <td>Email</td>
            <td>VK</td>
            <td>Телефон</td>
        </thead>
        <tbody>
        {% for U in user_list %}
        <tr>
            {% if U.surname is not none %}
            <td><a href="/user/{{ U._id }}">{{ U.name }} {{ U.surname }}</a></td>
            {% else %}
            <td><a href="/user/{{ U._id }}">{{ U.name }}</a></td>
            {% endif %}
            <td><a href="mailto:{{ U.email }}">{{ U.email }}</a></td>
        	{% if U.vk_id is not none %}
        	<td><a href="http://vk.com/{{ U.vk_id }}">{{ U.vk_id }}</a></td>
        	{% else %}
        	<td>-</td>
        	{% endif %}
            {% if U.phone is not none %}
            <td>{{ U.phone }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
	</table>
</div>
</body>
</html> 