<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <TITLE>Twiddler</TITLE>
</head>
<body>
	<form action="/user/{{ user._id }}">
		<div><input type="submit" value="Профиль"></div>
	</form>
	<form action="/find/{{ user._id }}">
		<div><input type="submit" value="Найти"></div>
	</form>
	<form action="/plan/{{ user._id }}">
		<div><input type="submit" value="Спланировать"></div>
	</form>
    <form action="/logout" >
        <div><input type="submit" value="Выйти"></div>
    </form>
</body>
</html>